<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success btn-block" type="button" ng:click="vm.abrirModal()">
                <i class="glyphicon glyphicon-plus"></i> Novo Carro 
            </button>
        </div>
        <div class="col-md-3 pull-right">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="Pesquisar" ng:model="vm.search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng:click="vm.filtrar()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table ng-table="vm.tableParams" class="table table-striped">
                <thead>
                    <tr>
                        <th width="6%" class="text-center">
                            <div class="checkbox">
                                <input type="checkbox" ng:model="vm.allChecks" ng:click="vm.marqueAllChecks()" id="all">
                                <label for="all"></label>
                            </div>
                        </th>
                        <th width="14%" class="text-center"><span>Placa</span></th>
                        <th width="14%" class="text-center"><span>Modelo</span></th>
                        <th width="14%" class="text-center"><span>Marca</span></th>
                        <th width="14%" class="text-center"><span>Foto</span></th>
                        <th width="14%" class="text-center"><span>Combustível</span></th>
                        <th width="14%" class="text-center"><span>Valor</span></th>
                        <th width="10%" class="text-center"><span>Ações</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng:repeat="veiculo in $data" ng:if="$data.length" ng:class="{ 'active': veiculo.linhaAtiva }" ng:click="vm.ativaLinha(veiculo)">
                        <td width="6%" class="text-center">
                            <div class="checkbox">
                                <input type="checkbox" id="all_{{veiculo.id}}" ng:click="vm.ativaLinha(veiculo)" ng:checked="veiculo.linhaAtiva">
                                <label for="all_{{veiculo.id}}"></label>
                            </div>
                        </td>
                        <td width="14%" class="text-center">{{veiculo.placa}}</td>
                        <td width="14%" class="text-center">{{veiculo.modelo}}</td>
                        <td width="14%" class="text-center">{{veiculo.marca}}</td>

                        <td width="14%" class="text-center">
                            <span ng:if="!veiculo.imagem">Sem Foto</span>
                            <a href="{{veiculo.imagem}}" ng:if="veiculo.imagem" data-toggle="lightbox">
                                <i class="glyphicon glyphicon-picture"></i> {{veiculo.nomeImagem}}
                            </a>
                        </td>

                        <td width="14%" class="text-center">{{veiculo.combustivel}}</td>
                        <td width="14%" class="text-center">{{veiculo.valorCorrigido}}</td>
                        <td width="10%" class="text-center">
                            <button type="button" class="btn btn-warning btn-sm" ng:click="vm.editar(veiculo.id)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" ng:click="vm.excluir(veiculo)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>

                    <tr ng:if="!$data.length">
                        <td colspan="8" class="text-center">Não tem veículos cadastrados</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <ng:include src="'views/partial/_ModalCadastroVeiculos.html'"></ng:include> -->

<!-- modal cadastro -->
<div class="modal fade" id="veiculosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="veiculos" name="veiculos" ng:submit="vm.salvar(veiculos.$valid)" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{vm.titleModal}} Veículo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Placa">Placa</label>
                            <input type="text" class="form-control" id="Placa" ng:keyup="vm.upper()" ng:blur="vm.validaPlaca()" name="Placa" maxlength="8"
                                ng:model="vm.Model.placa" required>
                            <span ng:show="veiculos.$error.pattern" class="infoError">Informe a placa no padrão: ABC-1234</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Marca">Marca</label>
                            <select class="form-control" id="Marca" name="Marca" ng:change="vm.selecionaModelos()" ng:options="marca for marca in vm.listaMarcas"
                                ng:model="vm.Model.marca" required>
                                <option value="">Selecione</option>
                                <option value="{{marca}}">{{marca}}</option>                            
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Modelo">Modelo</label>
                            <select class="form-control" id="Modelo" name="Modelo" ng:disabled="!vm.listaModelos.length" ng:options="modelo for modelo in vm.listaModelos"
                                ng:model="vm.Model.modelo" required>
                            <option value="" >Selecione</option>
                            <option value="{{modelo}}">{{modelo}}</option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="UrlImagem">URL da Foto</label>
                            <input type="url" class="form-control" id="UrlImagem" name="UrlImagem" ng:model="vm.Model.imagem">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Combustivel">Combustível</label>
                            <select class="form-control" id="Combustivel" name="Combustivel" ng:model="vm.Model.combustivel">
                            <option value="">Selecione</option>
                            <option value="Álcool">Álcool</option>
                            <option value="Gasolina">Gasolina</option>
                            <option value="Flex">Flex</option>
                            <option value="Diesel">Diesel</option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Valor">Valor</label>
                            <input type="text" class="form-control" id="Valor" ng:keyup="vm.numeros();vm.corrigeValor();" name="Valor" maxlength="16"
                                ng:model="vm.Model.valor">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-block btn-success" ng:disabled="veiculos.$invalid">Salvar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>