<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success btn-block" type="button">
                        <i class="flaticon-cross"></i> Novo Carro 
                    </button>
        </div>
        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="flaticon-search"></i>
                            </button>
                        </span>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" id="all">
                            <label for="all"></label>
                        </div>
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>