<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success btn-block" type="button" ng:click="vm.abrirModal()">
                <i class="glyphicon glyphicon-plus"></i> Novo Carro 
            </button>
        </div>
        <div class="col-md-3 pull-right">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="Pesquisar" ng:model="vm.search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng:click="vm.filtrar()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table ng-table="vm.tableParams" class="table table-striped">
                <thead>
                    <tr>
                        <th width="6%" class="text-center">
                            <div class="checkbox">
                                <input type="checkbox" ng:model="vm.allChecks" ng:click="vm.marqueAllChecks()" id="all">
                                <label for="all"></label>
                            </div>
                        </th>
                        <th width="14%" class="text-center"><span>Placa</span></th>
                        <th width="14%" class="text-center"><span>Modelo</span></th>
                        <th width="14%" class="text-center"><span>Marca</span></th>
                        <th width="14%" class="text-center"><span>Foto</span></th>
                        <th width="14%" class="text-center"><span>Combustível</span></th>
                        <th width="14%" class="text-center"><span>Valor</span></th>
                        <th width="10%" class="text-center"><span>Ações</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng:repeat="veiculo in $data" ng:if="$data.length" ng:class="{ 'active': veiculo.linhaAtiva }" ng:click="vm.ativaLinha(veiculo)">
                        <td width="6%" class="text-center">
                            <div class="checkbox">
                                <input type="checkbox" id="all_{{veiculo.id}}" ng:click="vm.ativaLinha(veiculo)" ng:checked="veiculo.linhaAtiva">
                                <label for="all_{{veiculo.id}}"></label>
                            </div>
                        </td>
                        <td width="14%" class="text-center">{{veiculo.placa}}</td>
                        <td width="14%" class="text-center">{{veiculo.modelo}}</td>
                        <td width="14%" class="text-center">{{veiculo.marca}}</td>

                        <td width="14%" class="text-center">
                            <span ng:if="!veiculo.imagem">Sem Foto</span>
                            <a href="{{veiculo.imagem}}" ng:if="veiculo.imagem" data-toggle="lightbox">
                                <i class="glyphicon glyphicon-picture"></i> {{veiculo.nomeImagem}}
                            </a>
                        </td>

                        <td width="14%" class="text-center">{{veiculo.combustivel}}</td>
                        <td width="14%" class="text-center">{{veiculo.valorCorrigido}}</td>
                        <td width="10%" class="text-center">
                            <button type="button" class="btn btn-warning btn-sm" ng:click="vm.editar(veiculo.id)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" ng:click="vm.excluir(veiculo)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>

                    <tr ng:if="!$data.length">
                        <td colspan="8" class="text-center">Não tem veículos cadastrados</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng:include src="'/views/partial/_ModalCadastroVeiculos.html'"></ng:include>